/node_modules
/vendor
/dist
/tmp
/credentials/*
/storage/app/backups/*
/storage/app/file-manager/*
/storage/app/files/*
/storage/app/public/files/*
/storage/app/public/images/*
/storage/app/public/number-checker/*
/storage/app/public/photos/*
/storage/app/temp/*
/storage/app/wachecker/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/backups/*
/bootstrap/cache/*.php
/public/storage
.env
.env.backup
*.zip
Thumbs.db
.DS_Store
